ul#navigation li.external:hover .icon, ul#navigation li.currentmenu .icon{
	color: #0dd;
}
.ul-boxed li {
	border-left-color:#0dd;
}
ul.ul-card li .dy .year {
	background-color: #0dd;
}
ul.ul-dates div.dates span {
	background-color: #0dd;
}
ul.timeline li .date {
	background: #0dd;
}
ul.timeline li .data {
	border-left-color: #0dd;
}
.ul-withdetails li .imageoverlay {
	background: #0dd;
}
.cd-active.cd-dropdown > span {
	color: #0dd;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #0dd;
}
.wkitems .workmain .workassets {
	border-top-color:#0dd; 
}
.wkitems .workmain .workassets a:hover,.wkitems .workmain .workassets a:focus,.wkitems .workmain .workassets a.workcollapse {
	background: #0dd;
}
.contact-office .icon-huge, .contact-lab .icon-huge {
	color: #0dd;
}

/* socpndary color 
**************************************************/
ul.ul-card li .dy .degree {
	background-color: #0bb;
}
ul.ul-dates div.dates span:last-child {
	background-color: #0bb;
}
ul.timeline li.open .circle {
	background-color: #0bb;
}
ul.timeline li.open .data {
	border-color: #0bb;
}
#labp-heads-wrap {
	background-color: #0bb;
}
#labp-heads-wrap:after{
	border-top-color: #0bb;
}











