/* General styles
 **************************************************/
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #4D4D4D;
}

a,a:hover,a:focus {
	text-decoration: none;
	outline: 0;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.fac-title{
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}

h3.fac-title{
	font-size: 26px;
}
h2.fac-title{
	font-size: 30px;
}

.fac-big-title{
	font-size: 50px;
	margin-bottom: 25px;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
textarea {
  height: auto;
}
input[type=submit]{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
input[type=submit]:hover{
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
/*IE hack for responsive images*/
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}



/*
                           <xeee..
                       ueeeeeu..^"*$e.
                ur d$$$$$$$$$$$$$$Nu "*Nu
              d$$$ "$$$$$$$$$$$$$$$$$$e."$c
          u$$c   ""   ^"^**$$$$$$$$$$$$$b.^R:
        z$$#"""           `!?$$$$$$$$$$$$$N.^
      .$P                   ~!R$$$$$$$$$$$$$b
     x$F                 **$b. '"R).$$$$$$$$$$
    J^"                           #$$$$$$$$$$$$.
   z$e                      ..      "**$$$$$$$$$
  :$P           .        .$$$$$b.    ..  "  #$$$$
  $$            L          ^*$$$$b   "      4$$$$L
 4$$            ^u    .e$$$$e."*$$$N.       @$$$$$
 $$E            d$$$$$$$$$$$$$$L "$$$$$  mu $$$$$$F
 $$&            $$$$$$$$$$$$$$$$N   "#* * ?$$$$$$$N
 $$F            '$$$$$$$$$$$$$$$$$bec...z$ $$$$$$$$
'$$F             `$$$$$$$$$$$$$$$$$$$$$$$$ '$$$$E"$
 $$                  ^""""""`       ^"*$$$& 9$$$$N
 k  u$                                  "$$. "$$P r
 4$$$$L                                   "$. eeeR
  $$$$$k                                   '$e. .@
  3$$$$$b                                   '$$$$
   $$$$$$                                    3$$"
    $$$$$  dc                                4$F
     RF** <$$                                J"
      #bue$$$LJ$$$Nc.                        "
       ^$$$$$$$$$$$$$r
         `"*$$$$$$$$$
*/
/* mobile menu
 **************************************************/
.mobile-topleft-triggers{
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 1002;
	display: block;

	width: 180px;
	height: 50px;
	overflow:hidden;
	display: none;

}
.brandlogo{
	float:right;
	background: #c2c2c2;
	width: 130px;
	height: 50px;
	text-align: center;

}
.mobilemenu {
	position:relative;
	float:left;
	padding: 3px 11px;
	width: 50px;
	height: 50px;

	background: #2b2b2b;
	font-size: 30px;
	color: #fff;
}

.mobilemenu:hover,.mobilemenu:focus {
	color: #fff;
}

/* layout
 **************************************************/
#main-nav {
	text-align: left;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 250px;
	background: #2b2b2b;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 45px;
	overflow: hidden;
}

#main {
	position: absolute;
	left: 250px;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;

max-width:1670px;
}

.kou-page {
	overflow:hidden;
	position: absolute;
	top: 0;
	left: 2000px;
	bottom: 0;
	width: 85%;
	background-color: #f7f7f7;
}

.home {
	overflow:hidden;
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	z-index: 0;
	width: 100%;
/* 	background-color: #f7f7f7;
 */
 background: rgba(77,208,225,1);
background: -moz-linear-gradient(top, rgba(77,208,225,1) 0%, rgba(20,34,41,1) 30%, rgba(20,34,41,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(77,208,225,1)), color-stop(30%, rgba(20,34,41,1)), color-stop(100%, rgba(20,34,41,1)));
background: -webkit-linear-gradient(top, rgba(77,208,225,1) 0%, rgba(20,34,41,1) 30%, rgba(20,34,41,1) 100%);
background: -o-linear-gradient(top, rgba(77,208,225,1) 0%, rgba(20,34,41,1) 30%, rgba(20,34,41,1) 100%);
background: -ms-linear-gradient(top, rgba(77,208,225,1) 0%, rgba(20,34,41,1) 30%, rgba(20,34,41,1) 100%);
background: linear-gradient(to bottom, rgba(77,208,225,1) 0%, rgba(20,34,41,1) 30%, rgba(20,34,41,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dd0e1', endColorstr='#142229', GradientType=0 );

 }

#overlay {
	position: absolute;
	top: 0;
	left: 0px;
	bottom: 0;
	right: 0px;
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	opacity: 0.25;
	display: none;
	z-index: 300;
	cursor: crosshair;
	cursor: url(../img/pointer.png), auto;
}
.loading{
	width: 35px;
	height: 35px;
	position: absolute;
	top: 50%;
	left:50%;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
}
#runner {
	position: absolute;
	width: 30px;
	height: 20px;
	color: #fff;
	font-size: 20px;
	z-index: 2000;
}

.currentpage {
	-webkit-box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
	box-shadow: -2px 0 4px -2px rgba(0,0,0,.25);
}


/*
                   __~a~_
                   ~~;  ~_
     _                ~  ~_                _
    '_\;__._._._._._._]   ~_._._._._._.__;/_`
    '(/'/'/'/'|'|'|'| (    )|'|'|'|'\'\'\'\)'
    (/ / / /, | | | |(/    \) | | | ,\ \ \ \)
   (/ / / / / | | | ~(/    \) ~ | | \ \ \ \ \)
  (/ / / / /  ~ ~ ~   (/  \)    ~ ~  \ \ \ \ \)
 (/ / / / ~          / (||)|          ~ \ \ \ \)
 ~ / / ~            M  /||\M             ~ \ \ ~
  ~ ~                  /||\                 ~ ~
                      //||\\
                      //||\\
                      //||\\
                      '/||\'
*/
/* page specifics
 **************************************************/
.page-container {
	position: relative;
	background: none repeat scroll 0% 0% #FFF;
/* 	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3; */
	border-bottom: 1px solid #E3E3E3;
	box-shadow: 0px 0px 10px #888;

	max-width: 1200px;
	height: auto;
	margin: 0px auto 30px;
	padding-bottom: 30px;
}
@media screen and (max-width: 1560px) {
	.page-container {
		max-width: 92%;

	}
}

.pageheader {
	background: #f3f3f3;
	position: relative;
	padding: 0;
	margin-top:30px;
}

/* .pageheader:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 4, 13, 0);
	border-top-color: #f3f3f3;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}
 */
.headercontent .title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	padding: 20px 0 20px 0;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
}

.headercontent .subtitle {
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 0;
}

.headercontent .subtitle h3 {
	margin: 0;
	padding: 0;
}

.kou-page .section{
	padding: 50px 20px;
	position: relative;
	background: none repeat scroll 0% 0% #FFF;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	box-shadow: 0px 0px 10px #888;

	max-width: 90%;
	height: auto;
	margin: 15px auto;
	padding-bottom: 30px;
}

.color-1 {
	background: #fcfcfc;
}

.color-2 {
	background: #f7f7f7;
}

.color-3 {
	background: #2c2c2d;
	color: #fff;
}

.color-4 {
	background: #000;
}

.section .title {
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}


.biothumb{position: relative;}
.biothumb .overlay{
	position: absolute;
	width: 100%;
	color:#fff;
	bottom: 0;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	padding:25px;
}
.biothumb .overlay h1{
	font-size: 45px;
}

.fix-bg{
	background-attachment: fixed !important;
}

.herotext{
	width: 50%;
	margin: 0 auto; 
	border: 3px solid #4DD0E1; 
	background-color: #142229; 
	color: #ffffff; 
	text-align: center; 
	padding-bottom: 8px;"
}
@media screen and (max-width: 500px) {
	.herotext {
		width: 100%;
	}
}

/*
           ||          ||
    \------||| /\/\/\ |||------/
     \     |||  |---| |||     /
      \   |!!|  |\_/| |!!|   /
       \  |!|   || ||  |!|  /
        \  |    \___/   |  /
         \ |  /------\  | /
          \| /        \ |/
           |            |
*/

/* Works page styles
 **************************************************/
.page-contents{
	padding:70px 0;
}
#ajax-single-post{
	position: relative;
}
.loopclass{
	overflow: auto;
	overflow-x:hidden;
	position: absolute;
	top:0;
}


#wrk-grid .mix {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
}

.wkitems .item {
	margin-bottom: 8px;
	width: 100%;
}

.wkitems .workmain {
	background: #fefefe;
	padding: 10px 25px 15px 25px;
	min-height: 130px;
	position: relative;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	cursor: pointer;
}
.wkitems .compact{
	min-height: 100px;
}
.wkitems .worktitle {
	margin: 0;
	padding: 0 0 5px 0;
	font-weight: 600;
}

.wkitems .workmain div {
	font-size: small;
}

.wkitems .workmain .label {
	margin-right: 10px;
}

.wkitems .workmain .workassets {
	position: absolute;
	bottom: 0;
	right: 0;
	/* background: #fafafa; */
	text-align: center;
	border-top: 2px solid;
}

.wkitems .workmain .workassets a {
	color: #F0AD4E;
	padding: 5px 15px;
	float: right;
	font-size: 18px;
	margin-left: 5px;
	background: none repeat scroll 0% 0% #FAFAFA;
}

.wkitems .workmain .workassets a:hover,.wkitems .workmain .workassets a:focus,.wkitems .workmain .workassets a.workcollapse {
	/*background: #03cc85;*/
	color: #fff;
}

.wkitems .workdetails {
	background: #fff;
	padding: 25px;
	display: none;
}

.wkitems .workmain .wrkauthor{
	margin:6px 0 0;
}
.wkitems .workmain .wrkthumb{
	position: absolute;
	top: 0;
	right: 0;
}

/***************************************************
***************************************************
 						sidebar
***************************************************
 **************************************************/
#nav-container {
	position: relative;
	padding-bottom: 75px;
	bottom: 0;
	height: 100%;
}

#profile {
	text-align: center;
	padding: 30px 10px;
	position: relative;
}

#profile .portrait {
	width: 125px;
	margin: 27px auto -15px;
	height: 125px;
}

#profile .portrait img{
	width: 100%;
	height: 100%;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
#profile .title h2 {
	font-size: 28px;
	font-weight: 300;
	color: #fff;
	margin: 30px 0 10px 0;
	font-family: 'Press Start 2P', cursive;
}

#profile .title h3 {
	font-size: 18px;
	font-weight: bold;
	color: #aaa;
	margin: 0px 0 10px 0;
}

ul#navigation {
	padding: 0;
	margin: 0;
}

ul#navigation li {
	display: block;
	float: none;
	clear: both;
	background: #303030;
	cursor: pointer;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
}

ul#navigation li a {
	color: #ccc;
	font-size: 14px;
	line-height: 45px;
	/* margin-left: 15px; */
	display: block;
	text-align: center;

}

ul#navigation li:hover,ul#navigation li:focus {
	background: #363636;
}

ul#navigation li:hover a,ul#navigation li:focus a {
	color: #f7f7f7;
}

ul#navigation .current-menu-item {
	font-weight: bold;
}

ul#navigation li.current-menu-item a {
	color: #fff;
	font-weight: bold;
}

ul#navigation li.external:hover .fa, ul#navigation li.current-menu-item .fa{
	color: #03cc85;
}

ul#navigation li.current-menu-item {
	background: #363636;
}

ul#navigation li .fontawesome-text {
	padding-left: 5%;
	margin-left: -15px;
	line-height: 45px;
	display: inline-block;
	-webkit-box-shadow: -3px 0 5px -4px #000;
	box-shadow: -3px 0 5px -4px #000;
}

ul#navigation li .fa {
	float: left;
	line-height: 45px;
	width: 50px;
	text-align: center;
	font-size: 27px;
	position: relative;
	left: -15px;
}

.social-icons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #202020;
	border-top: 1px solid #1A1A1A;
	width: 250px;
	z-index: 2;
	/* height: 55px; */
	min-height: 45px;
}

.social-icons ul {
	padding: 0 20px;
	margin: 0;
	list-style: none;
	text-align: center;
}

.social-icons li {
	/* float: left; */
	/* width: 33%; */
	padding: 5px;
	text-align: center;
	display: inline-block;
}

.social-icons a {
	color: #ccc;
}

.social-icons a:hover,.social-icons a:focus {
	color: #fff;
}

.social-icons i {
	font-size: 16px;
}

i.academia,
i.researchgate{
	background-repeat: no-repeat;
	background-position: top;
	width: 18px;
	height: 15px;
	display: block;
	position: relative;
	top: 8px;
	margin: 0 auto;
}
i.academia{
	background: url(../img/i-academia.png);
}
i.researchgate{
	background: url(../img/i-researchgate.png);
}

.social-icons a:hover i.academia,
.social-icons a:hover i.researchgate{
	background-position: bottom;
}

#copyright{
	text-align:center;
	font-size:0.7em;
	color: #8E8E8E;
	margin-bottom: 5px;
}
/*
     0000             0000        7777777777777777/========___________
   00000000         00000000      7777^^^^^^^7777/ || ||   ___________
  000    000       000    000     777       7777/=========//
 000      000     000      000             7777// ((     //
0000      0000   0000      0000           7777//   \\   //
0000      0000   0000      0000          7777//========//
0000      0000   0000      0000         7777
0000      0000   0000      0000        7777
 000      000     000      000        7777
  000    000       000    000       77777
   00000000         00000000       7777777
     0000             0000        777777777
*/


/*DYNAMIC --=> STATIC*/
/*logo circle off*/

#profile .portrait img {
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border: 5px solid #4DD0E1;
}
#colors{
	color: #0D47A1; /* Blue 900 */
	color: #448AFF; /* Blue A200 */
	color: #E0E0E0; /* Grey 300 */
	color: #BDBDBD; /* Grey 400 */
	color: #757575; /* Grey 600 */
	color: #212121; /* Grey 900 */
}
/* Sidebar background color */
#main-nav {
	background-color: #757575 !important;
}

/* menu hover color */
ul#navigation li:hover,
ul#navigation li:focus {
	background-color: #333333 !important;
}
/* Menu item background color */
/* Menu item border-top color */
/* Menu item border-bottom color */
ul#navigation li {
	background-color: #8c8c8c !important;
	border-bottom: 1px solid #4DD0E1 !important;
}
ul#navigation li:first-child {
	border-top: 1px solid #4DD0E1 !important;
}
/* Main color */
ul#navigation li.external:hover .fa,
ul#navigation li.current-menu-item .fa,
.cd-active.cd-dropdown > span
{
	color: #212121 !important;
}
ul.ul-dates div.dates span,
ul.ul-card li .dy .degree,
ul.timeline li .date,
#labp-heads-wrap,
.ul-withdetails li .imageoverlay,
.cd-active.cd-dropdown ul li span:hover,
.workmain .workassets a.workcollapse,
.wkitems .workmain .workassets a:hover,
.wkitems .workmain .workassets a:focus,
.wkitems .workmain .workassets a.workcollapse,
.commentlist .reply{
	background-color: #3C544D !important;
}
.ul-boxed li,
ul.timeline li .data,.widget ul li{
	border-left-color:#3C544D !important;
}
#labp-heads-wrap:after{
	border-top-color: #3C544D !important;
}
/* Darker Color */
ul.ul-dates div.dates span:last-child,
ul.ul-card li .dy .year,
ul.timeline li.open .circle{
	background-color: #e0E0E0 !important;
}
ul.timeline li.open .data {
	border-left-color: #e0E0E0 !important;
}
.wkitems .workmain .workassets {
	border-top-color: #e0E0E0 !important;
}
/* Header row background color */
.kou-page #inside >.wpb_row:first-child:before {
	border-top-color: #BDBDBD !important;
}
.kou-page #inside >.wpb_row:first-child,
.pageheader {
/* 	background-color: #BDBDBD !important;
 */}
.kou-page #inside >.wpb_row:first-child:before,
.pageheader:after {
	border-top-color: #ffffff !important;
}
/* Page Odd rows color */
/* .kou-page #inside >.wpb_row:nth-child(odd),
.kou-page .section:nth-child(odd){
	background-color: #e0E0E0 !important;
}
 *//* Page Even rows color */
/* .kou-page #inside >.wpb_row:nth-child(even),
.kou-page .section:nth-child(even){
	background-color: #448AFF !important;
}
 *//* Gallery Header color */
/* Gallery body color */
#gallery-header{ background-color: #e0E0E0 !important; }
#gallery-large{	background-color: #e0E0E0 !important; }


/* Boxed elements background color */
ul.ul-card li,
ul.timeline li .data,
.ul-boxed li,
.ul-withdetails li,
.wkitems .workmain,
.commentlist li{
	background-color: #e0E0E0 !important;
}

/* Boxed elements alternative background color,
some boxed els need to be slightly darker or lighter... */
ul.timeline li.open .data,
.ul-withdetails li .details,
#lab-details,
.wkitems .workdetails,
.commentlist .comment-author-admin{
	background-color: #bdbdbd !important;
}

/* Blog hide show expandicon color */
a#hideshow,#hideshow i{
	color: #e0E0E0 !important;
}
/* Blog list header color */
/* Blog list header text color */
.archive-header{
	background-color: 	#e0E0E0 !important;
	color: 				#738784 !important;
}

/*TYPOGRAPHY*/
/* Sidebar title size 	def:28 */
#profile .title h2{
	font-size: 28px !important;
}
#profile .title h3{
	font-size: 18px !important;
}
/* Menu text size 		def:14 */
ul#navigation li a{
	font-size: 14px !important;
}
ul#navigation li#menu-item-36 a{
	font-size: 22px !important;
}
/* Global font size 	def:16 */
body{
	font-size: 16px !important;
}
/* Big title size 		def:50 */
.fac-big-title{
	font-size: 50px !important;
}




/*
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
/    \      /    \      /    \      /    \      /    \      /    \
/      \____/      \____/      \____/      \____/      \____/      \__
																   \      /    \      /    \      /    \      /    \      /    \      /
\____/      \____/      \____/      \____/      \____/      \____/
*/
/*************************************************
 *  uls
 **************************************************/
.ul-bolded li {
	font-weight: bold;
}

.ul-boxed li {
	padding: 7px;
	background-color: #FdFdFd;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
	border-left: 5px solid;
}

/* ul-card
 **************************************************/
ul.ul-card {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ul-card li {
	position: relative;
	padding: 50px 15px 20px 15px;
	background-color: #fff;
	margin-bottom: 15px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
	margin-left: 10px;
	color: #333;
}

ul.ul-card li .dy {
	position: absolute;
	top: 10px;
	left: -10px;
	border-radius: 0px;
	padding: 0;
color: white;
}

ul.ul-card li .dy span {
	padding: 7px 10px;
	line-height: 30px;
	margin: 0;
}

/*ul.ul-card li .dy .degree {
	background-color: #03bb7a;
}*/

ul.ul-card li .dy .year {
	/*background-color: #03cc85;*/
	-webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
	margin-left: -3px !important;
}

ul.ul-card li .description p {
	font-size: 16px;
	margin: 0;
}

ul.ul-card li .description p.where {
	font-weight: 300;
	font-size: 14px;
}

/* ul-dates
 **************************************************/
ul.ul-dates,ul.ul-dates-gray {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.ul-dates li,ul.ul-dates-gray li {
	margin-bottom: 15px; /*margin-left:  20px;
	*/
}

ul.ul-dates div.dates,ul.ul-dates-gray div.dates {
	float: left;
	width: 75px;
}

ul.ul-dates div.dates span,ul.ul-dates-gray div.dates span {
	/*background-color: #03cc85;*/
	padding: 6px;
	display: block;
	text-align: center;
	color: #fff;
	position: relative;
}

ul.ul-dates-gray div.dates span {
	background-color: #BBBBBB !important;
}

/*ul.ul-dates div.dates span:last-child {
	background-color: #03bb7a;
}*/

ul.ul-dates-gray div.dates span:last-child {
	background-color: #979797 !important;
}

ul.ul-dates-gray div.dates span:first-child,
ul.ul-dates div.dates span:first-child {
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	z-index: 3;
	position: relative;
}

ul.ul-dates div.content,ul.ul-dates-gray div.content {
	margin-left: 90px;
	min-height: 70px;
	padding-top: 10px;
}

ul.ul-dates div.content h4,ul.ul-dates-gray div.content h4 {
	font-weight: 400;
	font-size: 16px;
	margin-top: 0;
}

ul.ul-dates div.content p,ul.ul-dates-gray div.content p {
	font-size: 13px;
}



/* ul-timeline
 **************************************************/
ul.timeline {
	border-left: 8px solid #FFF;
	list-style: none;
	padding: 1px 0;
	margin-left: 100px;
}

ul.timeline li .date {
	float: left;
	padding: 10px 15px 10px 10px;
	margin-top: 10px;
	margin-left: -115px;
	font-size: 15px;
	width: 110px;
	text-align: center;
	/*background: #03cc85;*/
	color: #fff;
}

/*ul.timeline li.open .data {
	background: #03bb7a;
}*/

ul.timeline li .circle {
	float: left;
	margin: 20px 0;
	margin-left: -14px;
	width: 20px;
	height: 20px;
	border: 4px solid #FFFFFF;
	border-radius: 10px;
	background-color: #d5d5d5;
}

ul.timeline li.open .circle {
	/*background-color: #03bb7a;*/
	-webkit-box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
	box-shadow: 0px 2px 6px -3px rgba(68, 68, 68, 0.5);
}

ul.timeline li .data {
	background: #fdfdfd;
	margin: 10px 0px 10px 20px;
	border-left: 10px solid;
	padding: 18px 20px;
	font-size: 16px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

ul.timeline li.open .data {
	/*border-color: #03bb7a;*/
	background: #fff;
}

ul.timeline li .data .subject {
	cursor: pointer;
	color: #777;
	font-size: 18px;
}

ul.timeline li .data .text {
	display: none;
	margin-top: 15px;
	font-size: 14px;
}

/* ul-withdetails
 **************************************************/
.ul-withdetails {
	list-style: none;
	padding: 0;
}

.ul-withdetails li {
	background-color: #FdFdFd;
	margin-bottom: 15px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 3px;
}

.ul-withdetails li .image {
	position: relative;
	overflow: hidden;
}

.ul-withdetails li .imageoverlay {
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	/*background: #03cc85;*/
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.ul-withdetails li .imageoverlay i {
	color: #fff;
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 30px;
}

.ul-withdetails li .meta {
	overflow: hidden;
	padding: 20px;
	cursor: pointer;
}

.ul-withdetails li .details {
	display: none;
	padding: 20px;
	background: #fff;

	-webkit-box-shadow: inset 0px 3px 5px -3px #ccc;
	box-shadow: inset 0px 3px 5px -3px #ccc;
}

/*************************************************
 * lab partnerts
 **************************************************/
#labp-heads-wrap {
	/*background-color: #03bb7a;*/
	position: relative;
	height: 180px; 
}

#labp-heads-wrap:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 103, 103, 0);
	/*border-top-color: #03bb7a;*/
	border-width: 15px;
	left: 50%;
	margin-left: -15px;
}

#lab-carousel {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

#lab-carousel div {
	float: left;
	width: 100px;
	height: 100px;
}

#lab-carousel img {
	border: none;
	position: relative;

	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.caroufredsel_wrapper {
	margin-top: -10px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

#labp-heads-wrap #next,#labp-heads-wrap #prev {
	position: absolute;
	top: 0;
	height: 100%;
	line-height: 180px;
	padding: 0 10px;
	color: #f7f7f7;
	font-size: 30px;
	z-index: 4;
}

#labp-heads-wrap #next {
	right: 0;
}

#labp-heads-wrap #prev {
	left: 0;
}

#labp-heads-wrap #prev.disabled,#labp-heads-wrap #next.disabled {
	color: #ccc;
	cursor: default;
}

#lab-details {
	background-color: #fff;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
	min-height: 150px;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
}

#lab-details div {
	display: none;
}

#lab-details h3 {
	margin-top: 0;
}

/* filter dropdowns
 **************************************************/
#filters,.filters,#wrk-grid {
	padding: 10px 0 5px 0 !important;
}

#filters h3,.filters h3,div#sort {
	margin: 15px 0 0 25px;
}

#sort span {
	line-height: 30px;
}

.stuck {
	position: fixed !important;
	z-index: 1001;
	top: 0;
	right: 0;

	-webkit-box-shadow: 0px 2px 4px 0px #cecece;
	box-shadow: 0px 2px 4px 0px #cecece;
}

.cd-dropdown,.cd-select {
	position: relative;
	margin: 20px auto;
	display: block;
}

.cd-dropdown > span {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #999;
	font-weight: 700;
	font-size: 16px;
	background: #fff;
	display: block;
	padding: 0 10px 0 30px;
	position: relative;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	text-align: center;
	font-size: 12px;
	padding: 8px;
	height: 70%;
	line-height: 24px;
}

.cd-dropdown.cd-active > span:after {
	content: '';
}

.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

.cd-dropdown > span,.cd-dropdown ul li:nth-last-child(-n+3) span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

/*.cd-active.cd-dropdown > span {
	color: #03cc85;
}*/

.cd-active.cd-dropdown > span,.cd-active.cd-dropdown ul li span {
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	/*background: #03cc85;*/
	color: #fff;
}

.cd-dropdown ul li span {
	width: 100%;
	background: #fafafa;
	line-height: 40px;
	padding: 0 10px 0 30px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}

#miu-filter{
	margin-top: 15px;
}
#miu-filter span {margin-bottom:5px;}


/* Gallery
 **************************************************/
#gallery-header {
	color: #000000;
	position: relative;
	background: none repeat scroll 0% 0% #FFF;
	border-left: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	box-shadow: 0px 0px 10px #888;
	max-width: 90%;
	height: auto;
	margin: 15px auto;
}

#gallery-header h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
	border-bottom: 1px solid #ccc;
	padding: 20px 0 20px 0;
	font-family: 'Press Start 2P', cursive;

}

#gallery-large {
	background: #303030;
	padding-top: 20px;
}

ul.grid {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

ul.grid li {
	display: block;
	float: left;
	padding: 15px;
	width: 33%;
}

@media screen and (max-width: 900px) {
	ul.grid li {
	width: 50%;
}

}

@media screen and (max-width: 400px) {
	ul.grid li {
	width: 100%;
}

}

ul.grid li >div {
	-webkit-box-shadow: 0 0 8px -1px #000;
	box-shadow: 0 0 8px -1px #000;
	overflow: hidden;
	position: relative;
}

ul.grid li .over {
	position: absolute;
	bottom: -100%;
	width: 102%;
	right: -1%;
	left: -1%;
	color: #fff;
}

ul.grid li .comein {
	position: relative;
	z-index: 1;
	padding: 15px;
	height: 100%;
}

ul.grid li .comein i {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 50%;
	margin-left: -30px;
	font-size: 22px;
	color: #FFF;

	-webkit-box-shadow: 0 0 60px #fff;
	box-shadow: 0 0 60px #fff;
	border: 1px solid #fff;
	text-align: center;
	padding-top: 17px;
	border-radius: 50%;
}

ul.grid li .comein-bg {
	-khtml-opacity: .70;
	-moz-opacity: .70;
	-ms-filter: ”alpha(opacity=70)”;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
	filter: alpha(opacity=70);
	opacity: .70;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	z-index: -1;
}

ul.grid li a,ul.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* at start */
.my-mfp-slide-bottom .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .mfp-content {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

/* contanct
 **************************************************/
.contact-office {
	background: #fff url('../img/contact-office.jpg') no-repeat;
}

.contact-lab {
	background: #000 url('../img/contact-lab.jpg') no-repeat;
	color: #fff;
}

/*.contact-office .icon-huge, .contact-lab .icon-huge{
	color: #03cc85;
}*/


.icon-huge {
	font-size: 170px;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	display: block;
	padding-top: 30px;
}

@media (max-width: 500px) {
	ul.timeline {
	margin: 0;
	border-left: none;
}

ul.timeline .circle {
	display: none;
}

ul.timeline .data {
	margin: 0 !important;
	margin-bottom: 10px !important;
	padding-top: 65px !important;
}

ul.timeline .date {
	margin-left: 0 !important;
}

}

@media (max-width: 960px) {
		.mobile-topleft-triggers {
		display: block;
-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
		}

		.social-icons,#main-nav {
			left: -250px;
			z-index: 3;
		}
		#main {
			left: 0;
		}

}

/* blog
**************************************************/
#blog-content{
	position: absolute;
	width:100%;
	height: 100%;
	background-color: #fdfdfd;
	overflow: hidden;
	float:left;

}

#blogbar{
	position: relative;
	right: 0;
	width:100%;
	height: 185px;
	background-color: #f8f8f8;
	overflow: hidden;
}

.inner-wrapper{
width:5000px;
}

#blogbar .post{
	border:ridge 5px #000000;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
float: left;
width: 300px;
height:150px;

	position: relative;
	padding: 25px 15px;
	background-color: #F8F8F8;
	/*border-top: 1px solid white;*/
	/*border-bottom: 1px solid #C6C6C6;*/
	cursor: pointer;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
#blogbar .post:first-child{
	/*border-top:none;*/
}
#blogbar .post .blog-date{
	font-size: 12px;
	color: #A9A9A9;
}
#blogbar .post h4{
	margin: 0 0 8px 0;
	color:#676767;
	font-weight: 700;
	font-size: 15px;
}
#blogbar .post .blog-excerpt{
	font-size: 13px;
	color: #6F6F6F;
}

#blogbar .post:hover,
#blogbar .active{
	background-color: #ececec;
}
#blogbar .post:hover h4,
#blogbar .active h4{
	color:#404040;
}
#blogbar .blog-thumb{
	float:left;
	min-height: 70px;
}
#blogbar .blog-thumb img{
	width:70px !important;
	height: 70px !important;
}
#blogbar .blog-info{
	margin-left:80px;
}

.post-meta span{
	padding: 0 10px;
}
.post-meta span:first-child{
	padding-left:0;
}
#blog-navigation{
	position: absolute;
	top: 100px;
	right: 0;
	width: 100%;
	height: 35px;
	z-index: 2;
	background-color: #F3F3F3;
	/*padding: 5px;*/
	text-align: center;
	box-shadow: 0px 1px 5px -3px #222;
	line-height: 35px;
	border-bottom: 1px solid #F1F1F1;
}
#blog-content .page-contents,
#blog-content .page-contents p {
	font-size: 18px
}
#hideshow{
	display: block;
	position: absolute;
	top: 30px;
	right: -35px;
	width: 85px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	background-color: #2b2b2b;
	z-index: 100;
	padding: 5px 5px 5px 15px;
	border-radius: 20% 0 0 20%;
	line-height: 30px
}
#hideshow i {
	padding-right:10px;
	color: #FFED52;
}
#hideshow span {
	display: none;
}

@media screen and (max-width: 770px) {
	 #blogbar{width:200px; max-width: 100%;}
	 #blog-content{width:100% !important;}
}








/*Comment Output*/

.commentlist .reply {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px 10px;
	background-color: #03cc85;
	font-size: 12px;
}
.commentlist .reply a {
	color:#fff;
}

.commentlist .alt {}
.commentlist .odd {}
.commentlist .even {}
.commentlist .thread-alt {}
.commentlist .thread-odd {}
.commentlist .thread-even {}
.commentlist li ul.children .alt {}
.commentlist li ul.children .odd {}
.commentlist li ul.children .even {}


.commentlist .comment-meta {} 
.commentlist .comment-meta a {}
.commentlist .commentmetadata {
	font-size: 12px;
	color: #A9A9A9;
}

.commentlist .parent {}
.commentlist .comment {}
.commentlist .children {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 10%;
}
.commentlist .pingback {}
.commentlist .bypostauthor {}
.commentlist .comment-author {}
.commentlist .comment-author-admin {
	background-color: #fdfdfd;
}

.commentlist {
	list-style: none;
	margin: 40px 0;
	padding: 0;
}
.commentlist li {
	margin: 10px 0;
	padding: 20px;
	border-bottom: 1px solid #ECECEC;
	background-color: #f9f9f9;
	position: relative;
	-webkit-box-shadow: 0px 3px 3px -3px #F2F2F2;
	box-shadow: 0px 3px 3px -5px #ccc;
}
.commentlist li p {
	padding: 10px 0;
	color: #6E6E6E;
}
.commentlist li ul {}
.commentlist li ul.children li {}
.commentlist li ul.children li.alt {}
.commentlist li ul.children li.byuser {}
.commentlist li ul.children li.comment {}
.commentlist li ul.children li.depth-{id} {}
.commentlist li ul.children li.bypostauthor {}
.commentlist li ul.children li.comment-author-admin {}
.comment-body {
	position: relative;
}
#cancel-comment-reply {}
#cancel-comment-reply a {}

#commentform{
	margin-top:15px;
}
#commentform .row{
	margin-bottom: 10px;
}
label {
	font-weight: normal;
}
.comment-avatar{
	float: left;
	width:60px;
	text-align: center;
}
.comment-avatar img{
	border-radius: 50%;
}
.commenttext{
	margin-left: 80px;
	padding-top: 7px;
	min-height: 75px;
}
.commenttext cite.fn {
	font-size: 18px;
	font-weight: 700;
}
.comment-reply-title{
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}

#archive-content{
	overflow: hidden;
}
4
/* wordpress defaults
**************************************************/
.sticky{}
.wp-caption-text{}
.wp-caption-text{}
.gallery-caption{}
.alignright{
	float:right;
}
.alignleft{
	float:left;
}
.aligncenter{
	text-align: center;
}
.widgettitle{
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
	padding: 20px 0;
}
.widget ul{
	margin:0;
	padding:0;
	list-style: none;
}
.widget ul li{
	line-height: 1;
	padding: 12px;
	background-color: #FdFdFd;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	border-radius: 2px;
	border-left: 5px solid;
}
.widget ul li a {
	color:#666;
}
.widget ul li a:hover{
	text-decoration: underline;
}
.widget ul li:hover{
	background-color: #fff;
}

/* accordion
**************************************************/
.wpb_accordion_header:focus{
	outline: none !important;
}
.wpb_accordion_header{
	background-color: #fff !important;
	border: 1px solid #ECECEC !important;
}

.wpb_tabs .wpb_tabs_nav li,
.wpb_tour .wpb_tabs_nav li {
	background-color:#fff !important;
	position: relative !important;
	top: 1px !important;
	border: 1px solid #F8F8F8;
	border-bottom: none;
}
.wpb_tabs .wpb_tabs_nav li.ui-tabs-active,
.wpb_tour .wpb_tabs_nav li.ui-tabs-active{
	background-color: #FdFdFd !important;
	border: 1px solid #f1f1f1 !important;
}
.wpb_tabs .wpb_tabs_nav li.ui-tabs-active{
	border-bottom:none !important;
}
.wpb_tour .wpb_tabs_nav li.ui-tabs-active{
	border-right:none !important;
	position:relative;
	left:1px;
	z-index:2;
}
.wpb_tab.ui-tabs-panel{
	background-color: #FdFdFd !important;
	border: 1px solid #F1F1F1 !important;
	padding: 25px !important;
	position:relative;
	top:1px;
}
.wpb_tour_next_prev_nav{
	display:none;
}
.wpb_accordion_content,
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
	background-color: #FdFdFd !important;
	border: 1px solid #F1F1F1 !important;
	border-top: none !important;
}
.wpb_accordion_content{
	font-size:1em;
}

[aria-expanded="true"]{
	opacity:1 !important;
	margin-bottom: 5px;
}

.wpb_toggle{
	background-color:#fff !important;
	padding: 10px 10px 10px 30px !important;
	background-position: 10px center !important;
	font-weight: 500;
	font-size: 15px;
	border: 1px solid #F2F2F2;
	margin: 0 !important;
	margin-bottom: 5px !important;
}
.wpb_toggle_content{
	background-color:#fdfdfd !important;
	margin:0 !important;
	padding:0px !important;
	border: 1px solid #f1f1f1;
	margin-bottom:10px !important;
	margin-top:-10px !important;
	border-top:none !important;
}
.wpb_toggle_content p{
	padding: 0 15px;
}
.wpb_toggle_content p:first-child{
	padding-top: 15px;
}
.wpb_toggle_content p:last-child{
	padding-bottom: 15px;
}
.wpb_tabs_nav li{
	transition:none !important;
}
/*moved here from upward*/
.kou-page #inside >.wpb_row {
	padding: 70px 10%;
	position: relative;
	background: #f3f3f3;
}
.kou-page #inside >.wpb_row:first-child:before{
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(8, 4, 13, 0);
	border-top-color: #f3f3f3;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}

.kou-page #inside >.wpb_row:nth-child(odd){
	background-color: #f7f7f7;
}
.kou-page #inside >.wpb_row:first-child{
	background-color: #f3f3f3;
}
.kou-page #inside >.wpb_row:nth-child(even){
	background-color: #fcfcfc;
}

/* sharing
**************************************************/
.googleplusone{
	display: inline;
	position: relative;
	top: 6px;
}
#fb-root{
	display:none;
}
.twittershare{
	display: inline;
	position: relative;
	top: 6px;
}